{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h2>Vitrine</h2>

    <a href="{{ path('app_product_new') }}">Ajouter un produit</a>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Marque</th>
            </tr>
        </thead>
        <tbody class="article">
        {% for product in products %}
            <tr class="article">
                <td><img class="img_size" src="{{ asset('upload/product/' ~ product.img)}}" alt=""></td>
                <td>{{ product.name }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.brand }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Afficher l'annonce</a>
                    {# <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}