{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <h2 class="sectionTitle">{{ product.name }}</h2>

    <table class="table">
        <tbody class="flex">
            <tr>
                <td><img class="img_size" src="{{ asset('upload/product/' ~ product.img)}}" alt=""></td>
            </tr>
            <tr>
                <th>Marque :</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Decription :</th>
                <td>{{ product.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">Retour a la liste des articles</a>

    <h2 class="sectionTitle">Autres produits proposé par {{ product.owner.name }}</h2>

    {% if app.user and product.owner != app.user and product.borrower is null %}
        <form action="{{ path('app_product_request', {'id': product.id}) }}" method="post">
            <button type="submit" class="btn btn-primary">Demander la location</button>
        </form>
    {% endif %}
    <p>AJOUT DE TOUT LES PRODUITS QUE LE USER A MIS EN LIGNE</p>

    <a href="{{ path('app_product_index') }}">Retour a la liste des articles</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">editer l'annonce</a>
    <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
        <button class="btn">Delete</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Marque</th>
            </tr>
        </thead>
        <tbody class="article">
        {% for ownerProduct in ownerProducts %}
            <tr class="article">
                <td><h4>{{ ownerProduct.name }}</h4></td>
                <td><img src="{{ asset('upload/product/' ~ ownerProduct.img) }}" alt="{{ ownerProduct.name }}" width="200"></td>
                <td>{{ ownerProduct.brand }}</p></td>
                <td>{{ ownerProduct.content }}</p></td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Afficher l'annonce</a>
                    {# <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                {# colspan sert a indiquer a qu'une cellune <td> ou <th> doit s'etendre sur plusieurs colonnes au lieu d'une #}
                <td colspan="6">aucun article trouvé</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}