{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.email }}{% endblock %}

{% block body %}
    <h1>Bienvenue {{ user.name }}</h1>

    <p>
        <a href="{{ path('app_product_new') }}">Ajouter un nouveau produit</a>
    </p>
    {# si j ai des produits- tu les affiche #}
    {% if products is not empty %}
        <h2>Vos produits ajoutés :</h2>
        {# un forech de mes produits #}
        {% for product in products %}
            <div>
                <h3>{{ product.name }}</h3>
                <p>{{ product.content }}</p>
                <p>Marque: {{ product.brand }}</p>
                <p>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a> |
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                </p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas encore ajouté de produit.</p>
    {% endif %}
{% endblock %}


